lightning==2.0.0
omegaconf==2.3.0
ninja
jaxtyping
typeguard
git+https://github.com/KAIR-BAIR/nerfacc.git
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
diffusers
transformers
accelerate
opencv-python
tensorboard
matplotlib
imageio
imageio[ffmpeg]
trimesh
git+https://github.com/NVlabs/nvdiffrast.git
# deepfloyd
git+https://github.com/facebookresearch/xformers.git@main#egg=xformers
bitsandbytes
sentencepiece
safetensors
huggingface_hub
libigl
