--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
lightning==2.0.0
omegaconf
ninja
jaxtyping
typeguard
git+https://github.com/KAIR-BAIR/nerfacc.git
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
diffusers
transformers
accelerate
opencv-python
tensorboard
matplotlib
imageio
imageio[ffmpeg]
trimesh
